<h1>Errungenschaften</h1>

<ng-container *ngIf="achievements$ | async as achievements">
	<div *ngFor="let c of categories">
		<span class="category category-{{ categoryName(c).name }}-background">
			{{ categoryName(c).display }}
		</span>

		<div class="achievements">
			<div
				class="achievement"
				*ngFor="let a of achievements.achievementsByCategory[c]"
				[class.blurred]="!a.achieved"
			>
				<img
					alt="achievement image"
					[src]="getAchievementImageUrl(a)"
				/>
				<span>
					{{ a.name }}
				</span>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 70px;">
		<span class="category category-special-background">
			Spezial-Errungenschaften
		</span>
		<div class="achievements">
			<div *ngFor="let a of achievements.overalLevel" [class.blurred]="!a.achieved" class="achievement">
				<img
					alt="achievement image"
					[src]="getAchievementImageUrl(a)"
				/>
				<span>
					{{ a.name }}
				</span>
			</div>
		</div>
	</div>
</ng-container>

<app-navbar></app-navbar>
