<h1>Errungenschaften</h1>

<div class="overlay" id="coming-soon-notification">
	<div class="teaser">
		<div>
			<h1>Holla!</h1>
			<p>Hier gibt's nichts zu sehen!<br /><br />Also wirklich nichts!</p>
			<h1>
				Zumindest bis jetzt, bald kommt aber ein fantastisches Update:
			</h1>
			<p>
				Mit deinen bei den Challenges verdienten Punkten, werden
				Errungenschaften freigeschaltet, die du hier finden wirst.
				<br />
				<br />
				Wie bei den Stickeralben zur EM & WM, mit dem Unterschied, dass
				du dich nicht mit Schokolade vollstopfen musst, um an die
				Sticker zu kommen.
			</p>
			<br /><br />
		</div>
		<span class="cantwait" routerLink="">Ich kann es kaum erwarten!</span>
		<br /><br /><br />
	</div>
</div>

<div *ngFor="let category of categories" class="{{ category.name }}">
	<div class="text category-{{ category.name }}-background">
		{{ category.display }}
	</div>
	<div class="achievements">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>

<app-navbar></app-navbar>
