<h1>Errungenschaften</h1>

<!--I put everything in a different clas so that identify the achievement-blocks (circles), but im not sure whether this is enough to access each individual span

Looks ok with iPhone 6/7/8, but its not adjusted to height of iPhone 11, achievement-blocks are cut of from the taskbar.
Dont know how to change that yet-->

<div *ngFor="let category of categories" class="{{ category.name }}">
	<div class="text category-{{ category.name }}-background">
		{{ category.display }}
	</div>
	<div class="achievements">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>

<div class="for-visibility"></div>
<div class="taskbar"></div>
