<div class="sticky-header">
	<div class="app-bar">
		<span class="branding">ChallengeMe</span>

		<div class="icon"></div>
	</div>

	<div class="category-bar">
		<span class="category" (click)="setCategoryFilter(null)">Alle</span>
		<span
			class="category"
			*ngFor="let category of categories"
			(click)="setCategoryFilter(category.name)"
		>
			{{ category.display }}
		</span>
	</div>
</div>

<div class="challenges">
	<div class="challenge">
		<div class="challenge-label">
			<h1 class="challenge-title">Tageschallenge</h1>
		</div>
		<div class="challenge-picture"></div>
		<div class="challenge-description-container">
			<div class="challenge-description">
				<p class="challenge-description-text">
					"Kurzer Beschreibungstext zur Challenge beendet bei zu
					langer Textlänge mit ..."
				</p>
				<p class="challenge-category kochen">Roberts Koch-Institut</p>
				<p class="challenge-participants">100 Teilnehmer</p>
			</div>
		</div>
	</div>
</div>

<div class="challenges">
	<div
		class="challenge"
		*ngFor="
			let challenge of challenges$
				| async
				| filterChallengesByCategoryName: filter
		"
	>
		<div class="challenge-label">
			<div class="challenge-profile"></div>
			<h1 class="challenge-title">{{ challenge.title }}</h1>
		</div>
		<div class="challenge-picture"></div>
		<div class="challenge-description-container">
			<div class="challenge-description">
				<p class="challenge-description-text">
					{{ challenge.description }}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="sticky-footer-navigation">
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
</div>
