<div class="sticky-header">
	<div class="app-bar">
		<span class="branding">ChallengeMe</span>
		<div class="favorite-challenges"></div>
		<div class="running-challenges"></div>
		<div class="icon"></div>
	</div>

	<div class="category-bar">
		<span class="category" (click)="setCategoryFilter(null)">Alle</span>
		<span
			class="category"
			*ngFor="let category of categories"
			(click)="setCategoryFilter(category.name)"
		>
			{{ category.display }}
		</span>
	</div>
</div>

<div class="challenges">
	<div class="challenge">
		<div class="challenge-label daily-color">
			<h1 class="challenge-title">Tageschallenge</h1>
		</div>
		<div class="challenge-picture">
			<div class="daily-overlay">
				<p class="challenge-category">
					Roberts Koch-Institut
				</p>
			</div>
			<div class="challenge-participants">100 Challengers</div>
			<div class="challenge-participants-profile">
				<span class="circles"></span>
				<span class="circles"></span>
				<span class="circles"></span>
			</div>
		</div>
	</div>
</div>

<div class="challenges">
	<div
		class="challenge"
		*ngFor="
			let challenge of challenges$
				| async
				| filterChallengesByCategoryName: filter
		"
	>
		<div class="challenge-label eco-color">
			<h1 class="challenge-title">{{ challenge.title }}</h1>
		</div>
		<div class="challenge-picture">
			<div class="eco-overlay">
				<p class="challenge-category">
					Roberts Koch-Institut
				</p>
			</div>

			<div class="challenge-participants">100 Challengers</div>
			<div class="challenge-participants-profile">
				<span class="circles"></span>
				<span class="circles"></span>
				<span class="circles"></span>
			</div>
		</div>
	</div>
</div>

<div class="sticky-footer-navigation">
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
</div>
