<div class="sticky-header">
	<div class="app-bar">
		<span class="branding">Questophant</span>
		<img
			class="favorite-challenges"
			routerLink="/challenges/star"
			src="assets/icons/star.svg"
			alt="Gemerkte Herausforderungen"
		/>
		<img
			class="running-challenges"
			routerLink="/challenges/running"
			src="assets/icons/timer.svg"
			alt="Laufende Herausforderungen"
		/>
	</div>

	<div class="category-bar">
		<span
			(click)="setCategory(null)"
			[class.active]="selectedCategory == null"
			class="category"
			>Alle</span
		>
		<span
			class="category"
			(click)="setCategory(category)"
			*ngFor="let category of categories"
			[class.active]="selectedCategory === category"
		>
			{{ category.display }}
		</span>
	</div>
</div>

<div class="challenges">
	<div *ngIf="challenges as challenges; else loading">
		<ng-container *ngIf="challenges.length; else noItems">
			<div
				*ngFor="let challenge of challenges; trackBy: trackChallenges"
				class="challenge"
				[routerLink]="['/challenge', challenge.id, 'details']"
			>
				<div
					class="challenge-label category-{{
						challenge.category.name
					}}-background"
				>
					<h1 class="challenge-title">{{ challenge.title }}</h1>
				</div>
				<div class="overlay-{{ challenge.category.name }}">
					<p class="challenge-category">
						{{ challenge.category.display }}
					</p>
				</div>
				<div class="challenge-picture">
					<img
						src="/assets/images/categories/{{
							challenge.category.name
						}}.jpg"
					/>
					<div class="challenge-participants">
						<div class="challenge-duration">
							{{ challenge.durationSeconds | duration }}
						</div>
						<!--						<div class="participants-count">-->
						<!--							100 Challengers-->
						<!--						</div>-->
						<!--						<div class="participants-profiles">-->
						<!--							<span class="circles"></span>-->
						<!--							<span class="circles"></span>-->
						<!--							<span class="circles"></span>-->
						<!--							<span class="circles"></span>-->
						<!--							<span class="circles"></span>-->
						<!--						</div>-->
					</div>
				</div>
			</div>
		</ng-container>
	</div>

	<ng-template #noItems
		><div class="onscreen-message">
			Hier gibt es noch keine neuen Herausforderungen. Schau einfach
			später nochmal vorbei.
		</div>
	</ng-template>

	<ng-template #loading>
		<div class="onscreen-message"></div>
	</ng-template>
</div>

<app-navbar></app-navbar>
