@import '../../../colors';

$app-bar-height: 50px;
$category-bar-height: 25px;

.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	overflow: hidden;

	.app-bar {
		height: $app-bar-height;

		background-image: url('src/assets/images/360x60.png');
		background-size: cover;
		background-repeat: no-repeat;

		padding: 0 15px;

		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;

		.branding {
			font-size: 18px;
			color: #fff;
		}

		//Durch Stern-Icon ersetzen
		.favorite-challenges {
			margin-left: auto;
			//border: 2px solid #fff;
			//border-radius: 40px;
			height: 30px;
			width: 30px;
		}

		//Durch Uhr-Icon ersetzen
		.running-challenges {
			margin-left: 10px;
			//border: 2px solid #fff;
			//border-radius: 40px;
			height: 40px;
			width: 40px;
		}
	}

	.category-bar {
		position: relative;
		//height: $category-bar-height;
		background: #d1e4d9;
		box-sizing: content-box;
		overflow-y: scroll;
		white-space: nowrap;
		user-select: none;
		margin-top: 2%;
		border-radius: 40px 0 0 40px;
		margin-left: 4%;

		/* Hide scrollbar for Chrome, Safari and Opera */
		::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE and Edge */
		-ms-overflow-style: none;

		.category {
			display: inline-block;
			font-size: 14px;
			padding: 1.5% 3.5%;
			cursor: pointer;

			// active für die gewählte Kategorie
			&.active {
				background-color: #67a682;
				color: #fff;
				border-radius: 40px;
			}
		}
	}
}

.challenges {
	position: relative;
	margin-top: $app-bar-height + $category-bar-height + 25px;
	margin-bottom: 70px + 25px;

	.challenge {
		position: relative;
		width: 92vw;
		margin: 25px auto;

		.challenge-label {
			height: 15%;

			.challenge-title {
				color: #fff;
				font-size: 18px;
				font-weight: 500;
				padding-top: 3%;
				padding-left: 4%;
			}

			&.category-daily-background {
				background-image: url('src/assets/images/360x60.png');
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		.challenge-picture {
			position: relative;
			background-color: #fff;
			border-left: 1px solid #b8b8b8;
			border-right: 1px solid #b8b8b8;
			border-bottom: 1px solid #b8b8b8;

			img {
				display: block;
				width: 100%;
			}

			.challenge-participants {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 10px;

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-end;
				align-items: center;

				.participants-count {
				}

				.participants-profiles {
					margin: 0 10px;

					.circles {
						display: inline-block;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						background: #fff;
						border: 1px solid grey;
						margin-right: -10px;
					}
				}
			}
		}
	}

	.challenge-category {
		float: left;
		position: absolute;
		top: 5%;
		left: 4%;
		font-size: 14px;
		color: #fff;
	}

	.challenge-profile {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: gray;
		float: left;
		margin: 2% 3% 0 3%;
	}

	.spezial-errungenschaften-color {
		background-color: #67a682;
	}

	.overlay-daily {
		position: absolute;
		left: 0;
		right: 0;
		height: 25%;
		z-index: 99;
		background-image: linear-gradient(
			to bottom,
			#6e8c78,
			#c1cec5 40%,
			rgba(255, 255, 255, 0) 70%
		);
	}

	//Gradient des Overlays ist immer background-image: linear-gradient(to bottom, Basisfarbe der Challenge-Kategorie, Transparenz 70%)
	@mixin overlay($color) {
		position: absolute;
		left: 0;
		right: 0;
		height: 25%;
		z-index: 99;
		background-image: linear-gradient(
			to bottom,
			$color,
			rgba(255, 255, 255, 0) 70%
		);
	}

	.overlay-physical {
		@include overlay($category-color-physical);
	}

	.overlay-cooking {
		@include overlay($category-color-cooking);
	}

	.overlay-household {
		@include overlay($category-color-household);
	}

	.overlay-creative {
		@include overlay($category-color-creative);
	}

	.overlay-education {
		@include overlay($category-color-education);
	}

	.overlay-selfcare {
		@include overlay($category-color-selfcare);
	}

	.overlay-noComfortZone {
		@include overlay($category-color-noComfortZone);
	}

	.overlay-social {
		@include overlay($category-color-social);
	}
}
