<div class="overlay" id="coming-soon-notification">
	<div class="teaser">
		<div>
			<h1>Holla!</h1>
			<p>
				Hier gibt's nichts zu sehen! <br /><br />Also wirklich nichts!
			</p>
			<h1>
				Zumindest bis jetzt, bald kommt aber ein fantastisches Update:
			</h1>
			<p>
				Verbinde dich mit deinen Freunden und schaut, wer mehr Quests
				absolviert. Fordert euch gegenseitig heraus oder erledigt
				zusammen Team-Quests.
				<br />
				<br />
			</p>
			<br /><br />
		</div>
		<span class="cantwait" routerLink="">Ich kann es kaum erwarten!</span>
		<br /><br /><br />
	</div>
</div>

<app-navbar></app-navbar>
