@import '../../../colors';

.picture {
	img {
		display: block;
		width: 100vw;
	}

	max-height: 30vh;
	overflow: hidden;
}

.form-wrapper {
	width: 100%;
	padding: 10px;

	form {
		input,
		textarea,
		select {
			width: 100%;
			margin: 10px 0;
		}

		button {
			display: block;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			font-size: 16px;
			color: #fff;
			margin: 10px auto;

			background-color: #67a682;
			outline: none;
			border: none;
			border-radius: 40px;
			padding: 10px 25px;
		}

		.errors {
			text-align: center;
			padding: 10px;
			margin: 15px;
			background: #d8d8d8;
			color: #b12a2a;
			border-radius: 8px;
			font-weight: 400;
			font-size: 14px;

			& > span {
				display: block;
			}
		}
	}
}
