<div class="picture"></div>

<form action="">
	<div class="middle">
		<div class="profile">
			<div class="profilepic"></div>
			<div class="name">
				<br />
				von
				<br />
				<br />
				<span style="font-size: 200%;">Name</span>
			</div>
			<br />
			<div class="category">
				<select style="width: 100%;" required>
					<option value="" disabled selected>Kategorie</option>
					<option value="0">@home</option>
					<option value="1">Beweg' dich!</option>
					<option value="2">Do it for yourself</option>
					<option value="3">Eco</option>
					<option value="4">Fun</option>
					<option value="5">Know-How</option>
					<option value="6">Kreativer Kopf</option>
					<option value="6">Raus aus der Komfortzone</option>
					<option value="6">Roberts Koch Institut</option>
					<option value="6">Wir - voll sozial</option>
				</select>
			</div>
		</div>
		<div class="create">
			<input
				type="text"
				maxlength="50"
				placeholder="Challengename"
				class="challengename"
			/>
			<textarea
				maxlength="250"
				rows="12"
				placeholder="Beschreibe deine Challenge..."
				cols="24"
			>
			</textarea>
			<textarea
				maxlength="100"
				cols="24"
				rows="7"
				placeholder="Benötigtes Material..."
			>
			</textarea>
			<button type="submit">Challenge erstellen</button>
		</div>
	</div>
</form>

<div class="taskbar"></div>
