<div class="picture">
	<img
		alt="Challenge picture"
		src="/assets/images/categories/{{
			this.challengeCategory.value || 'daily'
		}}.jpg"
	/>
</div>

<div class="wrapper">
	<ng-container *ngIf="showForm">
		<h1>Herausforderung erstellen</h1>

		<form (ngSubmit)="onSubmit()" [formGroup]="createChallengeForm">
			<input
				[formControl]="challengeName"
				class="challenge-name"
				placeholder="Titel deiner Herausforderung"
				type="text"
			/>

			<select [formControl]="challengeCategory" class="category">
				<option disabled selected value="">Kategorie</option>
				<option
					*ngFor="let category of categories"
					value="{{ category.name }}"
					>{{ category.display }}</option
				>
			</select>

			<input
				[formControl]="challengeDuration"
				placeholder="Geschätzte benötigte Zeit (in Minuten)"
				type="text"
			/>

			<textarea
				[formControl]="challengeDescription"
				cols="24"
				placeholder="Beschreibe deine Herausforderung..."
				rows="12"
			></textarea>

			<textarea
				[formControl]="challengeMaterial"
				cols="24"
				placeholder="Benötigte Materialien..."
				rows="7"
			>
			</textarea>

			<div
				*ngIf="submitted && createChallengeForm.invalid"
				class="errors"
			>
				<span *ngIf="challengeName.invalid">
					{{ getErrorForName() }}
					Gib deiner Herausforderung einen Titel.
				</span>
				<span *ngIf="challengeCategory.invalid">
					Ordne deine Herausforderung einer Kategorie zu.
				</span>
				<span *ngIf="challengeDuration.invalid">
					Bitte gib eine ungefähre Dauer in Minuten an.
				</span>
				<span *ngIf="challengeDescription.invalid">
					{{ getErrorForDescription() }}
					Bitte beschreibe deine Herausforderung.
				</span>
				<span *ngIf="challengeMaterial.invalid">
					Das ist doch etwas zu viel, was für die Herausforderung
					benötigt wird.
				</span>
			</div>

			<button type="submit">Herausforderung erstellen</button>
		</form>
	</ng-container>
	<ng-container *ngIf="challengeCreated">
		<div class="action-message">
			<h1>Deine Herausforderung wurde erfolgreich erstellt!</h1>
			<p>
				Teile sie mit deinen Freunden und fordere sie heraus.
			</p>
		</div>
	</ng-container>
	<ng-container *ngIf="error">
		<div class="action-message">
			<h1>Deine Herausforderung konnte leider nicht erstellt werden.</h1>
		</div>
	</ng-container>
</div>

<app-navbar></app-navbar>
