<div class="sticky-header">
	<div class="app-bar">
		<div id="backButton" (click)="navigateBack()">&lt; Zurück</div>

		<ng-container *ngIf="!fileLoaded">
			<div class="uploadBtn">
				<input
					class="fileInput"
					type="file"
					(change)="fileChangeEvent($event)"
					accept="image/*"
				/>
				Auswählen
			</div>
		</ng-container>
		<ng-container *ngIf="fileLoaded">
			<div (click)="upload()" class="uploadBtn">
				Hochladen
			</div>
		</ng-container>
	</div>
</div>

<div class="container">
	<ng-container *ngIf="user$ | async as user">
		<ng-container *ngIf="!fileLoaded">
			<div id="fileSelection">
				<input
					class="fileInput"
					type="file"
					(change)="fileChangeEvent($event)"
					accept="image/*"
				/>
				<img
					class="profile-picture"
					src="{{ getProfilePicture(user) }}"
					alt="Profile picture"
				/>
			</div>
		</ng-container>
	</ng-container>
	<ng-container *ngIf="fileLoaded">
		<image-cropper
			id="imageCropper"
			[imageChangedEvent]="imageChangedEvent"
			[maintainAspectRatio]="true"
			[aspectRatio]="4 / 4"
			[resizeToWidth]="256"
			format="png"
			roundCropper="true"
			(imageCropped)="imageCropped($event)"
			(imageLoaded)="imageLoaded()"
			(cropperReady)="cropperReady()"
			(loadImageFailed)="loadImageFailed()"
		></image-cropper>
	</ng-container>
</div>
