<div class="sticky-footer-navigation">
	<div class="icon">
		<img routerLink="/" src="/assets/images/Home.svg" />
	</div>
	<div class="icon">
		<img
			routerLink="/achievements"
			src="/assets/images/Errungenschaften.svg"
		/>
	</div>
	<div class="icon">
		<img
			class="plus-icon"
			routerLink="/challenge/create"
			src="/assets/images/Plusbutton.svg"
		/>
	</div>
	<div class="icon">
		<img routerLink="/friends" src="/assets/images/Freunde.svg" />
	</div>
	<div class="icon">
		<img
			routerLink="/profile"
			src="/assets/images/ProfilbildPartypinguin.png"
		/>
	</div>
</div>
