.sticky-footer-navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70px;
	background-color: #e5e5e5;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	z-index: 99;

	.icon {
		display: inline-block;
		position: relative;
		width: 40px;
		height: 40px;

		.home-icon {
			background-image: url('src/assets/images/Home.svg');
			background-size: contain;
			background-repeat: no-repeat;
			width: 80%;
			height: 80%;
			position: absolute;
			top: 15%;
		}

		.achievement-icon {
			background-image: url('src/assets/images/Errungenschaften.svg');
			background-size: contain;
			background-repeat: no-repeat;
			width: 80%;
			height: 80%;
			position: absolute;
			top: 15%;
		}

		.plus-icon {
			background-image: url('src/assets/images/Plusbutton.svg');
			background-size: contain;
			background-repeat: no-repeat;
			width: 120%;
			height: 120%;
			position: absolute;
			top: -3px;
			left: -6px;
		}

		.friends-icon {
			background-image: url('src/assets/images/Freunde.svg');
			background-size: contain;
			background-repeat: no-repeat;
			width: 80%;
			height: 80%;
			position: absolute;
			top: 20%;
		}

		.profile-icon {
			background-image: url('src/assets/images/ProfilbildPartypinguin.png');
			background-size: contain;
			background-repeat: no-repeat;
			width: 80%;
			height: 80%;
			position: absolute;
			top: 20%;
		}
	}
}
