<div class="sticky-footer-navigation">
	<div class="icon">
		<img routerLink="/" src="/assets/icons/home.svg" />
	</div>
	<div class="icon">
		<img routerLink="/achievements" src="/assets/icons/achievements.svg" />
	</div>
	<div class="icon">
		<img
			class="plus-icon"
			routerLink="/challenge/create"
			src="/assets/icons/plus.svg"
		/>
	</div>
	<div class="icon">
		<img routerLink="/friends" src="/assets/icons/friends.svg" />
	</div>
	<div class="icon">
		<img routerLink="/profile" src="/assets/images/profile/penguin.webp" />
	</div>
</div>
