<div class="overlay">
	<div class="content-wrapper">
		<div class="content">
			<h1>Nutzungsbedingungen</h1>
			<p>
				Nutzungsbedingungen... Ha! An sowas halte ich mich doch nicht
				mehr, seit mir meine Eltern verboten haben die Katze anzuzünden!
				<br /><br />
				Leider sind wir hier aber eher Pro Katzen und auch ein bisschen
				Pro Verhaltensregeln. Weil an sich ist das ja ganz lustig, wenn
				ihr euch bei den Quests betrinkt und danach irgendwelchen Unsinn
				anstellt, aber auf Dauer könnte das ja dann doch zum Problem
				werden. Besonders wenn es nur noch Quests gibt, bei den Furze
				angezündet werden oder getestet wird, mit wie vielen
				Heliumluftballons Omas geliebte Minka aus dem Fenster davon
				schwebt. <br /><br />
				Seid kreativ, seid wild und unerschrocken! Aber bitte ohne
				Drogen und ohne euch und Anderen dabei wehzutun. Deswegen kommen
				hier ein paar Regelungen, die uns im Ernstfall den Arsch retten
				und euch hoffentlich ein bisschen länger leben lassen:
			</p>

			<h2>Werte</h2>

			<p>
				Diese App soll Spaß machen. Hier wurde der Fun quasi geboren.
				Dennoch: Um den Spaß, das Gemeinschaftsgefühl und die positive
				Energie, die die Quests bewirken sollen aufrechtzuerhalten,
				müssen wir miteinander respektvoll umgehen. Seid nett
				zueinander, motiviert euch gegenseitig und akzeptiert alle so
				wie sie sind. Nur so funktioniert das hier und nur so macht es
				auch uns Spaß diese App weiterzuentwickeln. <br /><br />Wir sind
				ein kleines Team verteilt in ganz Deutschland, das dieses
				Projekt unentgeltlich in der Freizeit umsetzt. Deswegen brauchen
				wir manchmal eben ein bisschen länger bis wir ein Update
				umsetzen. Nichts desto trotz bleibt es unser Ziel, diese App
				euren Vorstellungen anzupassen und auf dem neuesten Stand zu
				halten, damit eure Unterhaltung gesichert ist. Und wenn ihr
				merkt, dass es irgendwo hakt, dann schreibt uns doch einfach
				eine Mail.<br /><br />
				Unsere Werte und die Intention von Questophant:
			</p>

			<ol class="nutzungsbedingungen">
				<li>
					Wir wollen Einsamkeit und Social Distancing entgegenwirken!
				</li>
				<li>
					Wir wollen Menschen auf eine neue Weise miteinander
					verbinden, durch Quests!
				</li>
				<li>
					Wir wollen Menschen durch gemeinsame Aufgaben anspornen und
					näher zusammen bringen
				</li>
				<li>
					Wir wollen den Alltag abwechslungsreich gestalten und
					dadurch den Begriff Alltag neu erfinden!
				</li>
				<li>
					Wir setzen uns für ein respektvolles und freundschaftliches
					Miteinander ein.
				</li>
			</ol>
			<br />

			<h2>Grundsätze</h2>

			<ol class="nutzungsbedingungen">
				<li>Nutzung der App ist ab 14 Jahren gestattet.</li>

				<li>
					Du bist für alle Inhalte verantwortlich, die unter deinem
					Namen hochgeladen werden.
				</li>

				<li>
					Das Hochladen von anzüglichen Bildern oder sexuellen
					Anspielungen ist nicht erlaubt.
				</li>

				<li>
					Du bist dafür verantwortlich, deine Anmeldedaten geheim zu
					halten.
				</li>

				<li>
					Inhalte die Gewalt verherrlichen, zu Gewalt aufrufen,
					Menschen herabwürdigen, beleidigen, bedrohen, diskriminieren
					oder andere bloßstellen, sind strikt verboten.
				</li>

				<li>
					Alle Inhalte, die Du auf Questophant veröffentlichst, müssen
					geltendes nationales Recht respektieren.
				</li>

				<li>
					Du bist dafür verantwortlich, dass die Veröffentlichungen,
					welche von deinem Account erfolgen, im Einklang mit dem
					Urheberrecht erfolgen.
				</li>

				<li>
					Du trägst alle Rechten und Pflichten für Inhalte, die von
					deinem Account veröffentlicht werden.
				</li>

				<li>
					Das veröffentlichen von privaten Telefonnummern und Adressen
					ist untersagt.
				</li>

				<li>
					Wenn von dir veröffentlichte Inhalte auf externe Webseiten
					verweisen und du davon einen Vorteil jeglicher Art hast, ist
					dies für alle anderen Nutzer:innen als Werbung zu
					kennzeichnen.
				</li>

				<li>
					Du bist verantwortlich für alle Daten, Texte, Bilder,
					Videos, Name, die du auf Questophant veröffentlichst.
				</li>

				<li>
					Der Name Questophant sowie alle Logos und Symbole sind
					geistiges Eigentum der Entwickler:innen und müssen als
					solches respektiert werden. Eine Verwendung dieser ist nur
					mit ausdrücklichem Einverständnis gestattet.
				</li>
			</ol>

			<br />

			<h2>Inhalte der Quests</h2>
			<p>
				Darf ich meine kleine Schwester zum Messerwerfen in der Küche
				herausfordern? Darf ich in meinem Zimmer ein Lagerfeuer für eine
				Quest machen? Darf ich andere Nutzer zum Klopapierwettessen
				herausfordern? Zu allem NEIN! Auch bei uns gelten die
				altbekannten Sprichworte: “Messer, Gabel, Schere und Licht sind
				für kleine Kinder nicht.” Sowie: “Mit Essen spielt man nicht.”
				Und ganz generell: “Hör auf deine Eltern!”<br />
				Falls ihr euch beim Benutzen der App also fragt, ob diese oder
				jene Quest erlaubt ist, hier sind unsere Richtlinien:
			</p>

			<ol class="nutzungsbedingungen">
				<li>
					Quests dürfen keinen Inhalt haben, der die Grundsätzen der
					Nutzungsbedingung und Werte des Entwicklerteams verletzen.
				</li>

				<li>
					Quests sollen konstruktiv sein, das Miteinander fördern und
					andere Menschen inspirieren.
				</li>

				<li>
					Quests dürfen nicht zu gefährlichem oder
					gesundheitsschädigendem Verhalten anregen. Darunter fällt
					insbesondere auch der Konsum von Alkohol, Tabak sowie aller
					illegalen Drogen.
				</li>

				<li>
					Du bist beim Absolvieren aller Quests für deine geistige und
					körperliche Gesundheit selbst verantwortlich. Nur du kannst
					deine Fähigkeiten einschätzen.
				</li>

				<li>
					Quests dürfen nicht direkt von anderen Nutzer:innen kopiert
					werden.
				</li>

				<li>
					Quests müssen im Einklang mit allen Gesetzen und den
					Maßnahmen zur Eindämmung des Coronaviruses sein.
				</li>
			</ol>

			<br />

			<h2>Außerordentliche Befugnisse der Betreiber:innen</h2>

			<ol class="nutzungsbedingungen">
				<li>
					Wir behalten uns vor, die Inhalte der App sowie die
					Nutzungsbedingungen anzupassen. Ist dies der Fall
					informieren wir die Nutzer:innen darüber
				</li>

				<li>
					Wir behalten uns vor, bei Verletzung konkreter Bestimmungen
					oder der Werte des Entwicklerteams, Nutzer:innen zu
					sanktionieren.
				</li>

				<li>
					Wir behalten uns vor, Nutzer:innen bei drastischen Verstößen
					den Zugang zu der Anwendung, auch ohne Abmahnung, zu
					verwehren.
				</li>

				<li>
					Wir behalten uns vor, Inhalte, die konkrete Bestimmungen
					oder Werte des Entwicklerteams missachten, anzupassen, sind
					dazu aber nicht verpflichtet.
				</li>

				<li>
					Wir behalten uns vor, die App durch Updates zu erweitern
				</li>

				<li>
					Sollten einzelne Bestimmungen dieser Nutzungsbedingungen
					ungültig werden, bleibt die Gültigkeit der übrigen
					Bestimmungen davon unberührt.
				</li>
			</ol>

			<br />

			<h2>Sonstiges</h2>
			<p>
				Zur Teilnahme an einem Streitbeilegungsverfahren vor einer
				Verbraucherschlichtungsstelle sind wir nicht verpflichtet und
				nicht bereit.
			</p>
			<p>
				Falls du Fragen zu den Nutzungsbedingungen hast oder Accounts
				melden möchtest, die diese Bedingungen missachten, schreibe
				unserem Team gerne eine Email unter: hallo@questophant.de
			</p>
			<p class="nutzungsbedingungen-ende">
				Holla. Wenn du das jetzt tatsächlich bis hierhin gelesen hast,
				dann solltest du dich definitiv erstmal mit einer Quest
				ablenken.
			</p>
		</div>
		<div class="actions">
			<span (click)="close()" class="close-btn">Ok, alles klar!</span>
		</div>
	</div>
</div>
