@import '../../../colors';

.challenge-picture {
	position: relative;
	max-height: 30vh;
	width: 100vw;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}

	.back-home {
		position: absolute;
		top: 4vw;
		left: 4vw;
		width: 40px;
		height: 40px;

		text-align: center;
		background-color: $general-blue;
		color: white;
		text-decoration: none;
		font-size: 2rem;
		border-radius: 100%;
	}
}

.color-one {
	background-color: #788fb9 !important;
}

.color-two {
	background-color: #a3b9e0 !important;
}

.challenge-details {
	position: relative;
	display: block;
	margin: 4vw 4vw 70px;

	.challenge {
		position: relative;
		width: 100%;

		.challenge-name {
			font-size: 1.5rem;
			color: $general-blue;
		}

		.category {
			border-radius: 40px;
			padding: 5px 8px;
			margin: 5px 0;
			color: #fff;
			font-size: 14px;
			display: inline-block;
		}

		.challenge-description,
		.challenge-materials {
			width: 100%;
			margin-top: 1vh;
			padding: 5px;
			border: none;
			color: $general-font-color;
			background-color: $general-background-color;
			font-family: 'Lato', sans-serif;
		}

		.challenge-description {
			height: 20vh;
		}

		.challenge-materials {
			height: 10vh;
		}

		.challenge-action {
			display: block;
			color: white;
			background: $general-blue;
			border: none;
			border-radius: 20px;
			font-size: 16px;
			padding: 5px 15px;
			margin: 10px 0;
			text-align: center;
			cursor: pointer;
		}
	}

	.stats {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 5px;
		padding: 0 10px;
	}

	.profile {
		position: relative;
		width: 100%;
		margin: 2vh 0;
		padding: 0 10px;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;

		.profile-picture {
			display: block;
			width: 22vw;
			border-radius: 100%;
			justify-self: left;
		}

		.profile-details {
			display: block;
			justify-self: center;
			width: 100%;
			text-align: center;

			.username {
				font-weight: 600;
				overflow-wrap: break-word;
			}
		}
	}

	.stats {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 5px;
		padding: 0 10px;
	}

	.profile {
		position: relative;
		width: 100%;
		margin-top: 2vh;
		padding: 0 10px;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;

		.profile-picture {
			display: block;
			width: 22vw;
			border-radius: 100%;
			justify-self: left;
		}

		.profile-details {
			display: block;
			justify-self: center;
			width: 100%;
			text-align: center;

			.username {
				font-weight: 600;
				overflow-wrap: break-word;
			}
		}
	}
}

.action-message {
	margin: 10px;
	padding: 25px 10px;
	color: $general-font-color;
	background-color: $general-background-color;
	text-align: center;

	h1 {
		color: $general-blue;
		margin: 2vw;
		font-size: 24px;
		font-weight: 700;
	}

	h2 {
		color: $general-blue;
		margin: 2vw;
		font-size: 22px;
		font-weight: 500;
	}

	p {
		display: block;
		margin-bottom: 15px;
		font-size: 16px;
	}

	span {
		color: $general-blue;
		font-size: 20px;
		margin: 5px 0;
	}
}

.share-options {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.share-option {
		display: block;
		width: 40px;
		height: 40px;
		margin: 5px 10px;

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.achievement-dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;

	background-color: rgba(0, 0, 0, 0.5);

	.achievement-dialog {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		text-align: center;
		border-radius: 8px;
		color: $general-font-color;
		background-color: $general-background-color;
		width: 92vw;
		padding: 4vw;

		h1 {
			color: $general-blue;
			margin-bottom: 10px;
			font-size: 19px;
			font-weight: 500;
		}

		button {
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			font-size: 14px;
			color: #fff;
			margin: 0 auto;

			background-color: $general-blue;
			outline: none;
			border: none;
			border-radius: 40px;
			padding: 10px 25px;
		}
	}
}

//.othersolutions {
//	margin-left: 4vw;
//	margin-right: 4vw;
//
//	.solutionpicleft {
//		float: left;
//		border: none;
//		background-color: blue;
//		width: 44vw;
//		height: 44vh;
//		margin-bottom: calc(
//			10vh + 4vw
//		); //10vh refering to sticky task bar, so change if taskbar other height
//	}
//
//	.solutionpicright {
//		float: right;
//		border: none;
//		background-color: blue;
//		width: 44vw;
//		height: 44vh;
//		margin-bottom: calc(
//			10vh + 4vw
//		); //10vh refering to sticky task bar, so change if taskbar other height
//	}
//}
//.othersolutions {
//	margin-left: 4vw;
//	margin-right: 4vw;
//
//	.solutionpicleft {
//		float: left;
//		border: none;
//		background-color: blue;
//		width: 44vw;
//		height: 44vh;
//		margin-bottom: calc(
//			10vh + 4vw
//		); //10vh refering to sticky task bar, so change if taskbar other height
//	}
//
//	.solutionpicright {
//		float: right;
//		border: none;
//		background-color: blue;
//		width: 44vw;
//		height: 44vh;
//		margin-bottom: calc(
//			10vh + 4vw
//		); //10vh refering to sticky task bar, so change if taskbar other height
//	}
//}
