<div class="picture">
	<a class="backtohome" href="./"><</a>
</div>

<div class="middle">
	<div class="profile">
		<div class="profilepic"></div>
		<div class="text">
			<br />
			von
			<br />
			<div style="font-size: 1.5rem;">Name</div>
			<br />
			<div class="category">Kategorie</div>
			<div class="points">Punkte</div>
		</div>
	</div>
	<div class="challenge">
		<div class="challengename">Challengename</div>
		<textarea class="challengedescription">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores maxime vel iste commodi deserunt dolor vitae quae facere, ipsa placeat veritatis voluptas debitis autem laboriosam quidem voluptate cumque sapiente sunt!
		</textarea
		>
		<textarea class="challengematerials">
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima iusto sint accusamus aliquid! Officiis autem delectus enim natus accusamus, minus vitae velit minima voluptate, rem, et quaerat. Quasi, ex modi?
		</textarea
		>
		<div class="challengeaccept">Challene annehmen</div>
		<div class="challengeremind">Challenge merken</div>
	</div>
</div>

<!-- If clause to check whether other solutions were uploaded yet, otherwise dont display -->
<div class="othersolutions">
	<div style="font-size: 1.5rem; color: #67a682; display: inline-block;">
		Andere Lösungen
	</div>
	<br />
	<br />
	<img class="solutionpicleft" src="../../../favicon.ico" alt="hello" />
	<img class="solutionpicright" src="../../../favicon.ico" alt="hello" />
</div>

<div class="taskbar"></div>
