@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '../../../colors';

.background-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;

	background: url('/assets/images/homepage.png') no-repeat local center;
	background-size: cover;
}

.image-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.3);

	.logo {
		position: relative;
		top: 100px;
		left: 35%;
		width: 30%;
		border-radius: 50%;

		margin-bottom: 100px;
	}

	form {
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 18px;
		color: #fff;
		margin-bottom: 50px;

		& > * {
			display: block;
		}

		.name-field {
			margin-top: 70px;

			input {
				display: block;
				border: none;
				background: transparent;
				border-bottom: 2px solid #fff;
				margin: 25px auto 0 auto;
				width: 75vw;
				text-align: center;

				font-family: 'Lato', sans-serif;
				font-weight: 900;
				font-size: 18px;
				color: #fff;
			}
		}

		text-align: center;

		button {
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			font-size: 16px;
			color: #fff;
			margin: 25px auto 0;

			background-color: #67a682;
			outline: none;
			border: none;
			border-radius: 40px;
			padding: 10px 25px;
		}

		.checkboxes {
			display: block;
			width: 60%;
			margin: 50px auto;
			text-align: left;

			.checkbox {
				margin-bottom: 20px;

				.box {
					display: inline-block;
					vertical-align: top;
					height: 100%;
					margin: 0;
					clear: both;

					input {
						display: none;
					}

					span::before {
						content: '';
						width: 22px;
						height: 22px;
						background-color: #fff;
						display: block;
						float: left;
						margin-right: 15px;
						cursor: pointer;
					}

					input:checked + span::before {
						//box-shadow: inset 0px 0px 0px 3px #fff;
						background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlElEQVQ4T6WTXQ2AMAwGDwdIQAISQAEWsIQCQAkWkIAEJJCSNCljP7Dtdblb26+rKDxVIU+uoAY2YMoRKNwC61/BAwbGP4IXLPP7KvDCVtAARyCRIKyCBRiAHtgdSRRWwQjMwOlIkrBtwZVIO5LzHZVMO7RwdohWIoIk7EtBJXIXfVkr8sUoki5Wtm3n6x4E/1yx4AI+qiERKNFzCwAAAABJRU5ErkJggg==')
							#ffffff;
						background-repeat: no-repeat;
						background-size: 75%;
						background-position: center;
						//background-color: #8cad2d;
					}
				}

				.label {
					display: inline-block;
					height: 100%;
					vertical-align: top;
					text-decoration: underline;
					cursor: pointer;
				}
			}

			//label {
			//	display: block;
			//	height: 20px;
			//	line-height: 20px;
			//	margin-bottom: 20px;
			//	vertical-align: center;
			//
			//	span {
			//		text-decoration: underline;
			//		cursor: pointer;
			//	}
			//
			//	span::before {
			//		content: '';
			//		width: 20px;
			//		height: 20px;
			//		background-color: #fff;
			//		display: block;
			//		float: left;
			//		margin-right: 15px;
			//	}
			//
			//	input:checked + span::before {
			//		box-shadow: inset 0px 0px 0px 3px #fff;
			//		background-color: #8cad2d;
			//	}
			//}
		}

		.errors {
			padding: 10px;
			margin: 15px;
			background: #fff;
			color: #b12a2a;
			border-radius: 8px;
			font-weight: 400;
			font-size: 14px;

			& > span {
				display: block;
			}
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: 100;

	background-color: rgba(0, 0, 0, 0.5);

	.content-wrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 92vw;
		max-height: 90vh;
		padding: 20px;

		display: flex;
		flex-direction: column;

		color: $general-font-color;
		background-color: $general-background-color;
		border-radius: 5vh;
		text-align: center;

		.content {
			overflow-y: auto;
			height: 100%;

			h1 {
				color: $general-green;
				margin: 2vw;
				font-size: 24px;
				font-weight: 700;
			}

			h2 {
				color: $general-green;
				margin: 2vw;
				font-size: 22px;
				font-weight: 500;
			}

			p {
				display: block;
				margin-bottom: 15px;
			}
		}

		.actions {
			margin-top: 15px;

			.close-btn {
				display: inline-block;
				box-sizing: border-box;
				border: none;
				border-radius: 20px;
				padding: 10px 25px;

				color: white;
				background: $general-green;
				font-size: 16px;
			}
		}
	}
}
