<div class="background-image"></div>

<div class="image-wrapper">
	<img
		alt="ChallengeMe Logo"
		class="logo"
		src="/assets/images/logo.png"
		width="100%"
	/>

	<form (ngSubmit)="saveName()" [formGroup]="registrationForm">
		<label class="name-field">
			Wähle einen Namen
			<input formControlName="name" name="name" type="text" />
		</label>

		<div class="checkboxes">
			<div class="checkbox">
				<label class="box">
					<input formControlName="dataPrivacy" type="checkbox" />
					<span></span>
				</label>
				<span (click)="toggleDataPrivacy()" class="label"
					>Datenschutzerklärung</span
				>
			</div>

			<div class="checkbox">
				<label class="box">
					<input formControlName="rules" type="checkbox" />
					<span></span>
				</label>
				<span (click)="toggleRules()" class="label"
					>Verhaltensregeln</span
				>
			</div>
		</div>

		<div
			*ngIf="
				(submitted && registrationForm.invalid) || nameIsAlreadyInUse
			"
			class="errors"
		>
			<span *ngIf="registrationForm.get('name').errors !== null"
				>Wir brauchen einen Namen.</span
			>
			<span *ngIf="nameIsAlreadyInUse"
				>Der Nutzername ist leider schon vergeben.</span
			>
			<span
				*ngIf="
					registrationForm.get('dataPrivacy').errors !== null ||
					registrationForm.get('rules').errors !== null
				"
				>Es lohnt sich die Datenschutzerklärung und die Verhaltensregeln
				zu akzeptieren. Versprochen!
			</span>
		</div>

		<button type="submit">Weiter</button>
	</form>
</div>

<app-data-privacy-overlay
	(onClose)="
		toggleDataPrivacy(); registrationForm.get('dataPrivacy').setValue(true)
	"
	*ngIf="showDataPrivacy"
></app-data-privacy-overlay>

<app-rules-overlay
	(onClose)="toggleRules(); registrationForm.get('rules').setValue(true)"
	*ngIf="showRules"
></app-rules-overlay>
