<div class="header">Markierte Challenges</div>

<div class="challenge">
	<img class="image" src="" alt="image of challenge" />
	<span class="challengename">Challenge XY</span>
	<br />
	<span class="username">von Username</span>
	<span class="category">Kategorie</span>
</div>
<div class="challenge">
	<img class="image" src="" alt="image of challenge" />
	<span class="challengename">Challenge XY</span>
	<br />
	<span class="username">von Username</span>
	<span class="category">Kategorie</span>
</div>
<div class="challenge">
	<img class="image" src="" alt="image of challenge" />
	<span class="challengename">Challenge XY</span>
	<br />
	<span class="username">von Username</span>
	<span class="category">Kategorie</span>
</div>

<div class="sticky-footer-navigation">
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
</div>
