@import '../../../colors';

.header {
	font-size: 1.5em;
	margin: 2vh 4vw;
	color: $general-blue;
}

.tabs {
	position: relative;
	//height: $category-bar-height;
	background: #a3b9e0;
	box-sizing: content-box;
	overflow-x: scroll;
	white-space: nowrap;
	user-select: none;
	padding: 5px;
	color: #fff;

	/* Hide scrollbar for Chrome, Safari and Opera */
	::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE and Edge */
	-ms-overflow-style: none;

	.tab {
		display: inline-block;
		font-size: 14px;
		padding: 5px 15px;
		cursor: pointer;

		// active für die gewählte Kategorie
		&.active {
			background-color: #788fb9;
			color: #fff;
			border-radius: 40px;
		}
	}
}
