<div class="overlay">
	<div class="content-wrapper">
		<div class="content">
			<h1>Datenschutz</h1>
			<h3>Anbieter und Verantwortlicher</h3>
			<br />
			<p>
				ChallengeMe GbR<br />
				Kaiserpassage 2<br />
				76133 Karlsruhe<br /><br />

				<b>Datenschutzbeauftragter:</b><br />
				Andreas Luthe
				<br /><br />
				<b>E-Mail-Adresse des Anbieters:</b><br />
				hallo@challengemeapp.de
			</p>

			<h3>Arten der erhobenen Daten</h3>
			<br />
			<p>
				Zu den personenbezogenen Daten, die diese Anwendung
				selbstständig oder durch Dritte verarbeitet, gehören:
				Berechtigung zur Ermittlung des genauen Standorts (nicht
				kontinuierlich); Geografische Position; Nutzungsdaten;
				Nutzername; Passwort; Profilbild.
				<br /><br />
				Vollständige Details zu jeder Art von verarbeiteten
				personenbezogenen Daten werden in den dafür vorgesehenen
				Abschnitten dieser Datenschutzerklärung bereitgestellt.<br />
				Personenbezogene Daten können vom Nutzer freiwillig angegeben
				oder, im Falle von Nutzungsdaten, automatisch erhoben werden,
				wenn diese Anwendung genutzt wird.<br /><br />
				Sofern nicht anders angegeben, ist die Angabe aller durch diese
				Anwendung angeforderten Daten obligatorisch. Weigert sich der
				Nutzer, die Daten anzugeben, kann dies dazu führen, dass diese
				Anwendung dem Nutzer ihre Dienste nicht zur Verfügung stellen
				kann. In Fällen, in denen diese Anwendung die Angabe
				personenbezogener Daten ausdrücklich als freiwillig bezeichnet,
				dürfen sich die Nutzer dafür entscheiden, diese Daten ohne
				jegliche Folgen für die Verfügbarkeit oder die
				Funktionsfähigkeit des Dienstes nicht anzugeben.<br />
				Nutzer, die sich darüber im Unklaren sind, welche
				personenbezogenen Daten obligatorisch sind, können sich an den
				Anbieter wenden.<br />
				Jegliche Verwendung von Cookies – oder anderer Tracking-Tools –
				durch diese Anwendung oder Anbieter von Drittdiensten, die durch
				diese Anwendung eingesetzt werden, dient dem Zweck, den vom
				Nutzer gewünschten Dienst zu erbringen, und allen anderen
				Zwecken, die im vorliegenden Dokument und, falls vorhanden, in
				der Cookie-Richtlinie beschrieben sind.<br />
				Die Nutzer sind für alle personenbezogenen Daten Dritter
				verantwortlich, die durch diese Anwendung beschafft,
				veröffentlicht oder weitergegeben werden, und bestätigen, dass
				sie die Zustimmung zur Übermittlung personenbezogener Daten
				etwaiger Dritter an diese Anwendung eingeholt haben.
			</p>

			<!--//////////// Muss ggf. noch bearbeitet werden \\\\\\\\\\\\-->
			<h3>Art und Ort der Datenverarbeitung</h3>
			<br />

			<p>
				Wenn Sie ein Konto anlegen und sich auf der Website anmelden,
				werden wir ein temporäres Cookie setzen, um festzustellen, ob
				Ihr Browser Cookies akzeptiert. Dieses Cookie enthält keine
				personenbezogenen Daten und wird verworfen, wenn Sie ihren
				Browser schließen. Wenn Sie sich anmelden, werden wir einige
				Cookies einrichten, um die Anmeldeinformationen und
				Anzeigeoptionen zu speichern. Anmelde-Cookies verfallen i.d.R.
				nach zwei Tagen und Cookies für die Anzeigeoptionen nach einem
				Jahr. Falls Sie bei der Anmeldung „Angemeldet bleiben“
				auswählen, wird ihre Anmeldung zwei Wochen lang
				aufrechterhalten. Mit der Abmeldung aus ihrem Konto werden die
				Anmelde-Cookies gelöscht. <br />Wenn Sie einen Artikel
				bearbeiten oder veröffentlichen, wird ein zusätzlicher Cookie in
				ihrem Browser gespeichert. Dieser Cookie enthält keine
				personenbezogenen Daten und verweist nur auf die Beitrags-ID des
				Artikels, den Sie gerade bearbeitet haben. Der Cookie verfällt
				nach einem Tag.
			</p>
			<!--//////////// Muss ggf. noch bearbeitet werden ENDE \\\\\\\\\\\\-->

			<p>
				<b>Verarbeitungsmethoden</b><br /><br />
				Der Anbieter verarbeitet die Nutzerdaten auf ordnungsgemäße
				Weise und ergreift angemessene Sicherheitsmaßnahmen, um den
				unbefugten Zugriff und die unbefugte Weiterleitung, Veränderung
				oder Vernichtung von Daten zu vermeiden. <br />Die
				Datenverarbeitung wird mittels Computern oder IT-basierten
				Systemen nach organisatorischen Verfahren und Verfahrensweisen
				durchgeführt, die gezielt auf die angegebenen Zwecke abstellen.
				Zusätzlich zum Verantwortlichen könnten auch andere Personen
				intern (Personalverwaltung, Vertrieb, Marketing,
				Rechtsabteilung, Systemadministratoren) oder extern – und in dem
				Fall soweit erforderlich, vom Verantwortlichen als
				Auftragsverarbeiter benannt (wie Anbieter technischer
				Dienstleistungen, Zustellunternehmen, Hosting-Anbieter,
				IT-Unternehmen oder Kommunikationsagenturen) - diese Anwendung
				betreiben und damit Zugriff auf die Daten haben. Eine aktuelle
				Liste dieser Beteiligten kann jederzeit vom Anbieter verlangt
				werden.
			</p>
			<p>
				<b>Rechtsgrundlagen der Verarbeitung</b><br /><br />
				Der Anbieter darf personenbezogene Daten von Nutzern nur dann
				verarbeiten, wenn einer der folgenden Punkte zutrifft:
			</p>

			<ul class="datenschutz">
				<li>
					Die Nutzer haben ihre Einwilligung für einen oder mehrere
					bestimmte Zwecke erteilt. Hinweis: In einigen Gesetzgebungen
					kann es dem Anbieter gestattet sein, personenbezogene Daten
					zu verarbeiten, bis der Nutzer einer solchen Verarbeitung
					widerspricht ("Opt-out"), ohne sich auf die Einwilligung
					oder eine andere der folgenden Rechtsgrundlagen verlassen zu
					müssen. Dies gilt jedoch nicht, wenn die Verarbeitung
					personenbezogener Daten dem europäischen Datenschutzrecht
					unterliegt;
				</li>
				<li>
					die Datenerhebung ist für die Erfüllung eines Vertrages mit
					dem Nutzer und/oder für vorvertragliche Maßnahmen daraus
					erforderlich;
				</li>
				<li>
					die Verarbeitung ist für die Erfüllung einer rechtlichen
					Verpflichtung, der der Anbieter unterliegt, erforderlich;
				</li>
				<li>
					die Verarbeitung steht im Zusammenhang mit einer Aufgabe,
					die im öffentlichen Interesse oder in Ausübung hoheitlicher
					Befugnisse, die dem Anbieter übertragen wurden, durchgeführt
					wird;
				</li>
				<li>
					die Verarbeitung ist zur Wahrung der berechtigten Interessen
					des Anbieters oder eines Dritten erforderlich.
				</li>
			</ul>
			<br />
			<p>
				In jedem Fall erteilt der Anbieter gerne Auskunft über die
				konkrete Rechtsgrundlage, auf der die Verarbeitung beruht,
				insbesondere darüber, ob die Angabe personenbezogener Daten eine
				gesetzliche oder vertragliche Verpflichtung oder eine
				Voraussetzung für den Abschluss eines Vertrages ist.
			</p>
			<br />

			<p>
				<b>Ort</b><br /><br />
				Die Daten werden in der Niederlassung des Anbieters und an allen
				anderen Orten, an denen sich die an der Datenverarbeitung
				beteiligten Stellen befinden, verarbeitet.<br /><br />
				Je nach Standort der Nutzer können Datenübertragungen die
				Übertragung der Daten des Nutzers in ein anderes Land als das
				eigene beinhalten. Um mehr über den Ort der Verarbeitung der
				übermittelten Daten zu erfahren, können die Nutzer den Abschnitt
				mit den ausführlichen Angaben zur Verarbeitung der
				personenbezogenen Daten konsultieren.
				<br /><br />
				Die Nutzer haben auch das Recht, sich über die Rechtsgrundlage
				der Datenübermittlung in ein Land außerhalb der Europäischen
				Union oder an eine internationale Organisation, die dem
				Völkerrecht unterliegt oder von zwei oder mehr Ländern gegründet
				wurde, wie beispielsweise die UNO, sowie sich über die vom
				Anbieter ergriffenen Sicherheitsmaßnahmen zum Schutz ihrer Daten
				aufklären zu lassen.
				<br /><br />
				Wenn eine solche Übermittlung stattfindet, kann der Nutzer mehr
				darüber erfahren, indem er die entsprechenden Abschnitte dieses
				Dokuments überprüft oder sich mit dem Anbieter über die im
				Kontaktteil angegebenen Informationen in Verbindung setzt.
			</p>

			<p>
				<b>Speicherdauer</b><br /><br />
				Personenbezogene Daten werden so lange verarbeitet und
				gespeichert, wie es der Zweck erfordert, zu dem sie erhoben
				wurden. <br /><br />Daher gilt:
			</p>

			<ul class="datenschutz">
				<li>
					Personenbezogene Daten, die zu Zwecken der Erfüllung eines
					zwischen dem Anbieter und dem Nutzer geschlossenen Vertrages
					erhoben werden, werden bis zur vollständigen Erfüllung
					dieses Vertrages gespeichert.
				</li>
				<li>
					Personenbezogene Daten, die zur Wahrung der berechtigten
					Interessen des Anbieters erhoben werden, werden so lange
					aufbewahrt, wie es zur Erfüllung dieser Zwecke erforderlich
					ist. Nutzer können nähere Informationen über die
					berechtigten Interessen des Anbieters in den entsprechenden
					Abschnitten dieses Dokuments oder durch Kontaktaufnahme zum
					Anbieter erhalten.
				</li>
			</ul>
			<br />
			<p>
				Darüber hinaus ist es dem Anbieter gestattet, personenbezogene
				Daten für einen längeren Zeitraum zu speichern, wenn der Nutzer
				in eine solche Verarbeitung eingewilligt hat, solange die
				Einwilligung nicht widerrufen wird. Darüber hinaus kann der
				Anbieter verpflichtet sein, personenbezogene Daten für einen
				längeren Zeitraum aufzubewahren, wenn dies zur Erfüllung einer
				gesetzlichen Verpflichtung oder auf Anordnung einer Behörde
				erforderlich ist. <br /><br />Nach Ablauf der Aufbewahrungsfrist
				werden personenbezogene Daten gelöscht. Daher können das
				Auskunftsrecht, das Recht auf Löschung, das Recht auf
				Berichtigung und das Recht auf Datenübertragbarkeit nach Ablauf
				der Aufbewahrungsfrist nicht geltend gemacht werden.
			</p>
			<br />
			<h3>Zwecke der Verarbeitung</h3>
			<br />

			<p>
				Personenbezogene Daten über den Nutzer werden erhoben, damit der
				Anbieter den Dienst erbringen und des Weiteren seinen
				gesetzlichen Verpflichtungen nachkommen, auf
				Durchsetzungsforderungen reagieren, seine Rechte und Interessen
				(oder die der Nutzer oder Dritter) schützen, böswillige oder
				betrügerische Aktivitäten aufdecken kann. Darüber hinaus werden
				Daten zu folgenden Zwecken erhoben: Geräteberechtigungen für den
				Zugriff auf personenbezogene Daten, Soziale Funktionen,
				Standortbezogene Interaktionen, Hosting und
				Backend-Infrastruktur und Registrierung und Anmeldung.
				<br />Nutzer können in den entsprechenden Abschnitten dieses
				Dokuments weitere detaillierte Informationen zu diesen
				Verarbeitungszwecken und die zu den für den jeweiligen Zweck
				verwendeten personenbezogenen Daten vorfinden.
			</p>

			<br />

			<h3>
				Geräteberechtigungen für den Zugriff auf personenbezogene Daten
			</h3>
			<br />

			<p>
				Je nach vom Nutzer benutzten Gerät kann diese Anwendung
				bestimmte Berechtigungen anfragen, die es erlauben, wie unten
				beschrieben auf die Gerätedaten des Nutzers zuzugreifen.
				<br /><br />Standardmäßig müssen diese Zugriffsberechtigungen
				durch den Nutzer erteilt werden, bevor auf die entsprechenden
				Informationen zugegriffen werden kann. Eine einmal erteilte
				Zustimmung kann jederzeit vom Nutzer widerrufen werden. Um diese
				Zustimmungen zu widerrufen, können Nutzer in den
				Geräteeinstellungen nachsehen oder sie kontaktieren den Support
				des Eigentümers unter den im vorliegenden Dokument genannten
				Kontaktdaten.<br />Die genaue Vorgehensweise für die Überprüfung
				von App-Berechtigungen kann vom Gerät und der Software des
				Nutzers abhängen.<br />Es ist zu beachten, dass diese Anwendung
				durch den Widerruf solcher Berechtigungen in der ordnungsgemäßen
				Funktion beeinträchtigt sein könnte.<br />Wenn der Nutzer eine
				der unten genannten Berechtigungen erteilt, könnten die
				jeweiligen personenbezogenen Daten durch diese Anwendung
				verarbeitet werden (d.h., es kann darauf zugegriffen, sie können
				verändert oder entfernt werden).
			</p>
			<p>
				<b
					>Berechtigung zur Ermittlung des genauen Standorts (nicht
					kontinuierlich)</b
				><br /><br />
				Wird dazu benötigt, um auf den genauen Gerätestandort des
				Nutzers zuzugreifen. Diese Anwendung kann die Standortdaten des
				Nutzers sammeln, verwenden und freigeben, um standortbasierte
				Serviceleistungen anbieten zu können. Der geografische Standort
				des Nutzers wird auf eine nicht kontinuierliche Weise ermittelt.
				Das bedeutet, dass es für diese Anwendung unmöglich ist, die
				genaue Position des Nutzers auf einer kontinuierlichen Basis zu
				erschließen.
			</p>

			<br />

			<h3>
				Ausführliche Angaben über die Verarbeitung personenbezogener
				Daten
			</h3>
			<br />

			<p>
				Personenbezogene Daten werden zu folgenden Zwecken unter
				Inanspruchnahme folgender Dienstleistungen erhoben:
			</p>
			<ul class="datenschutz">
				<li>
					Geräteberechtigungen für den Zugriff auf personenbezogene
					Daten

					<ul>
						<li>
							Diese Anwendung fordert bestimmte Zustimmungen von
							Nutzern an, die es erlauben, wie unten beschrieben
							auf die Gerätedaten des Nutzers zuzugreifen.
						</li>
						<li>
							Geräte Berechtigungen für den Zugriff auf
							personenbezogene Daten (diese Anwendung)
						</li>
						<li>
							Diese Anwendung fordert bestimmte Zustimmungen von
							Nutzern an, die es erlauben, wie in diesem Dokument
							beschrieben auf die Gerätedaten des Nutzers
							zuzugreifen.
						</li>
						<li>
							Verarbeitete personenbezogene Daten: Berechtigung
							zur Ermittlung des genauen Standorts (nicht
							kontinuierlich).
						</li>
					</ul>
				</li>
			</ul>

			<!--//////////// Muss ggf. noch bearbeitet werden \\\\\\\\\\\\-->
			<ul class="datenschutz">
				<li>
					Hosting und Backend-Infrastruktur

					<ul>
						<li>
							Diese Art von Diensten haben zum Zweck, Daten und
							Dateien zu hosten, damit diese Anwendung verwaltet
							und verwendet werden kann. Des Weiteren können diese
							Angebote eine vorgefertigte Infrastruktur zur
							Verfügung stellen, die spezifische Funktionen oder
							ganze Bestandteile für diese Anwendung abwickelt.
						</li>
						<li>
							Einige der unten aufgeführten Dienste können, müssen
							aber nicht, über geografisch verteilte Server
							funktionieren, was es schwierig macht, den
							tatsächlichen Speicherort der personenbezogenen
							Daten zu bestimmen.
						</li>
						<li>
							Firebase Cloud Firestore (Google Ireland Limited)
						</li>
						<li>
							Firebase Cloud Firestore ist ein Webhosting und
							Backend Dienst, bereitgestellt von Google Ireland
							Limited.
						</li>
						<li>
							Verarbeitete personenbezogene Daten: Nutzungsdaten;
							verschiedene Datenarten, wie in der
							Datenschutzerklärung des Dienstes beschrieben.
						</li>
						<li>
							Verarbeitungsort: Irland – Datenschutzerklärung.
							Privacy Shield-Mitglied.
						</li>
					</ul>
				</li>
				<!--//////////// Muss ggf. noch bearbeitet werden ENDE \\\\\\\\\\\\-->

				<li>
					Registrierung und Anmeldung
					<ul>
						<li>
							Mit der Registrierung oder Anmeldung berechtigen
							Nutzer diese Anwendung, sie zu identifizieren und
							ihnen Zugriff auf spezifische Dienste zu gewähren.
						</li>
						<li>
							Je nachdem, was im Folgenden angegeben ist, können
							Drittanbieter Registrierungs- und Anmeldedienste
							bereitstellen. In diesem Fall kann diese Anwendung
							auf einige von diesen Drittanbietern gespeicherten
							Daten zu Registrierungs- oder
							Identifizierungszwecken zugreifen.
						</li>
						<li>
							Einige der unten aufgeführten Dienste erheben
							möglicherweise personenbezogene Daten zu Targeting-
							und Profilingszwecken. Weitere Informationen dazu
							entnehmen Sie der Beschreibung eines jeden Dienstes.
						</li>
						<li>
							Firebase Authentication (Google Ireland Limited)
						</li>
						<li>
							Firebase Authentication ist ein von Google Ireland
							Limited bereitgestellter Registrierungs- und
							Anmeldedienst. Um den Anmelde- und Anmeldeprozess zu
							vereinfachen, kann Firebase Authentication
							Identitätsdienste von Drittparteien benutzen und die
							Informationen auf ihrer Plattform speichern.
						</li>
						<li>
							Verarbeitete personenbezogene Daten: Nutzername;
							Passwort; Profilbild.
						</li>
						<li>
							Verarbeitungsort: Irland – Datenschutzerklärung.
							Privacy Shield-Mitglied.
						</li>
					</ul>
				</li>

				<li>
					Verarbeitete personenbezogene Daten:
					<ul>
						<li>
							Öffentliches Profil. Verarbeitete personenbezogene
							Daten: Nutzerbild;; vom Nutzer gewählter Name;
						</li>
						<li>
							Nutzer können in dieser Anwendung öffentliche
							Profile anlegen, die andere Nutzer anzeigen können.
							Neben den erteilten personenbezogenen Daten können
							solche Profile die Interaktionen des Nutzers
							enthalten, die über diese Anwendung stattfinden,
							sowie Parameter, die die App aus personenbezogenen
							Daten errechnet. Unter letztere fallen "Punkte" und
							"Level", die für jeden Benutzer / jede Benutzerin
							berechnet werden und in seinem / ihrem Profil
							angezeigt werden.
						</li>
					</ul>
				</li>

				<!--//////////// Muss ggf. noch bearbeitet werden \\\\\\\\\\\\-->
				<li>
					Standortbezogene Interaktionen
					<ul>
						<li>
							Geolocation (diese Anwendung)
						</li>
						<li>
							Diese Anwendung kann Positionsdaten des Nutzers
							erheben, nutzen und teilen, um standortbezogene
							Dienste zu erbringen.
						</li>
						<li>
							Die meisten Browser und Geräte sind standardgemäß so
							eingestellt, dass diese Funktion deaktiviert ist.
							Diese Anwendung kann auf die Positionsdaten des
							Nutzers zugreifen, falls eine ausdrückliche
							Genehmigung erteilt wurde.
						</li>
						<li>
							Verarbeitete personenbezogene Daten: Geografische
							Position.
						</li>
					</ul>
				</li>
				<li>
					Empfänger personenbezogener Daten
					<ul>
						<li>
							Mit Ihrer Registrierung als User:in, stimmen Sie der
							Weiterverarbeitung der Daten innerhalb der
							Applikation und den Dienstleister:innen [Namen
							anführen] zu.
						</li>
					</ul>
				</li>
				<!--//////////// Muss ggf. noch bearbeitet werden ENDE \\\\\\\\\\\\-->
			</ul>

			<br />

			<h3>Die Rechte der Nutzer</h3>
			<br />

			<p>
				Die Nutzer können bestimmte Rechte in Bezug auf ihre vom
				Anbieter verarbeiteten Daten ausüben. <br /><br />Nutzer haben
				insbesondere das Recht, Folgendes zu tun:
			</p>

			<ul class="datenschutz">
				<li>
					<b>Die Einwilligungen jederzeit widerrufen.</b> Hat der
					Nutzer zuvor in die Verarbeitung personenbezogener Daten
					eingewilligt, so kann er die eigene Einwilligung jederzeit
					widerrufen.
				</li>
				<li>
					<b
						>Widerspruch gegen die Verarbeitung ihrer Daten
						einlegen.</b
					>
					Der Nutzer hat das Recht, der Verarbeitung seiner Daten zu
					widersprechen, wenn die Verarbeitung auf einer anderen
					Rechtsgrundlage als der Einwilligung erfolgt. Weitere
					Informationen hierzu sind weiter unten aufgeführt.
				</li>
				<li>
					<b>Auskunft bezüglich ihrer Daten erhalten.</b> Der Nutzer
					hat das Recht zu erfahren, ob die Daten vom Anbieter
					verarbeitet werden, über einzelne Aspekte der Verarbeitung
					Auskunft zu erhalten und eine Kopie der Daten zu erhalten.
				</li>
				<li>
					<b>Überprüfen und berichtigen lassen.</b> Der Nutzer hat das
					Recht, die Richtigkeit seiner Daten zu überprüfen und deren
					Aktualisierung oder Berichtigung zu verlangen.
				</li>
				<li>
					<b>Einschränkung der Verarbeitung ihrer Daten verlangen.</b>
					Die Nutzer haben das Recht, unter bestimmten Umständen die
					Verarbeitung ihrer Daten einzuschränken. In diesem Fall wird
					der Anbieter die Daten zu keinem anderen Zweck als der
					Speicherung verarbeiten.
				</li>
				<li>
					<b
						>Löschung oder anderweitiges Entfernen der
						personenbezogenen Daten verlangen. </b
					>Die Nutzer haben unter bestimmten Umständen das Recht, die
					Löschung ihrer Daten vom Anbieter zu verlangen.
				</li>
				<li>
					<b
						>Ihre Daten erhalten und an einen anderen
						Verantwortlichen übertragen lassen.</b
					>
					Der Nutzer hat das Recht, seine Daten in einem
					strukturierten, gängigen und maschinenlesbaren Format zu
					erhalten und, sofern technisch möglich, ungehindert an einen
					anderen Verantwortlichen übermitteln zu lassen. Diese
					Bestimmung ist anwendbar, sofern die Daten automatisiert
					verarbeitet werden und die Verarbeitung auf der Zustimmung
					des Nutzers, auf einem Vertrag, an dem der Nutzer beteiligt
					ist, oder auf vorvertraglichen Verpflichtungen beruht.
				</li>
				<li>
					<b>Beschwerde einreichen.</b> Die Nutzer haben das Recht,
					eine Beschwerde bei der zuständigen Aufsichtsbehörde
					einzureichen.
				</li>
			</ul>

			<br />

			<p>
				<b>Details zum Widerspruchsrecht bezüglich der Verarbeitung </b
				><br />
				Werden personenbezogene Daten im öffentlichen Interesse, in
				Ausübung eines dem Anbieter übertragenen hoheitlichen
				Befugnisses oder zur Wahrung der berechtigten Interessen des
				Anbieters verarbeitet, kann der Nutzer dieser Verarbeitung
				widersprechen, indem er einen Rechtfertigungsgrund angibt, der
				sich auf seine besondere Situation bezieht.<br /><br />
				Nutzer werden darüber informiert, dass sie der Verarbeitung der
				personenbezogenen Daten für Direktwerbung jederzeit ohne Angabe
				von Gründen widersprechen können. Ob der Anbieter
				personenbezogene Daten für Direktwerbungszwecke verarbeitet,
				können die Nutzer den entsprechenden Abschnitten dieses
				Dokuments entnehmen.
			</p>

			<br />

			<p>
				<b>Wie die Rechte ausgeübt werden können </b><br />
				Werden personenbezogene Daten im öffentlichen Interesse, in
				Ausübung eines dem Anbieter übertragenen hoheitlichen
				Befugnisses oder zur Wahrung der berechtigten Interessen des
				Anbieters verarbeitet, kann der Nutzer dieser Verarbeitung
				widersprechen, indem er einen Rechtfertigungsgrund angibt, der
				sich auf seine besondere Situation bezieht.<br /><br />
				Nutzer werden darüber informiert, dass sie der Verarbeitung der
				personenbezogenen Daten für Direktwerbung jederzeit ohne Angabe
				von Gründen widersprechen können. Ob der Anbieter
				personenbezogene Daten für Direktwerbungszwecke verarbeitet,
				können die Nutzer den entsprechenden Abschnitten dieses
				Dokuments entnehmen.
			</p>

			<br />
			<h3>
				Weitere Informationen über die Erhebung und Verarbeitung von
				Daten
			</h3>
			<p>
				<b>Rechtliche Maßnahmen</b><br />
				Die personenbezogenen Daten des Nutzers können vom Anbieter zu
				Zwecken der Rechtsdurchsetzung innerhalb oder in Vorbereitung
				gerichtlicher Verfahren verarbeitet werden, die sich daraus
				ergeben, dass diese Anwendung oder die dazugehörigen Dienste
				nicht ordnungsgemäß genutzt wurden. <br />Der Nutzer erklärt,
				sich dessen bewusst zu sein, dass der Anbieter von den Behörden
				zur Herausgabe von personenbezogenen Daten verpflichtet werden
				könnte.
			</p>

			<br />

			<p>
				<b
					>Weitere Informationen über die personenbezogenen Daten des
					Nutzers</b
				><br />
				Zusätzlich zu den in dieser Datenschutzerklärung aufgeführten
				Informationen kann diese Anwendung dem Nutzer auf Anfrage
				weitere kontextbezogene Informationen zur Verfügung stellen, die
				sich auf bestimmte Dienste oder auf die Erhebung und
				Verarbeitung personenbezogener Daten beziehen.
			</p>

			<p>
				<b>Systemprotokolle und Wartung</b><br />
				Zusätzlich zu den in dieser Datenschutzerklärung aufgeführten
				Informationen kann diese Anwendung dem Nutzer auf Anfrage
				weitere kontextbezogene Informationen zur Verfügung stellen, die
				sich auf bestimmte Dienste oder auf die Erhebung und
				Verarbeitung personenbezogener Daten beziehen.
			</p>

			<p>
				<b
					>Nicht in dieser Datenschutzerklärung enthaltene
					Informationen</b
				><br />
				Weitere Informationen über die Erhebung oder Verarbeitung
				personenbezogener Daten können jederzeit vom Anbieter über die
				aufgeführten Kontaktangaben angefordert werden.
			</p>

			<p>
				<b>Wie „Do Not Track“ Anfragen behandelt werden</b><br />
				Diese Anwendung unterstützt keine Nicht-Verfolgen-Anfragen („Do
				Not Track”) durch Webbrowser. Die Information, ob integrierte
				Drittdienste das Nicht-Verfolgen Protokoll unterstützen,
				entnehmen Nutzer der Datenschutzerklärung des jeweiligen
				Dienstes.
			</p>

			<p>
				<b>Änderungen dieser Datenschutzerklärung</b><br />
				Der Anbieter behält sich vor, jederzeit Änderungen an dieser
				Datenschutzerklärung vorzunehmen, indem Nutzer auf dieser Seite
				und gegebenenfalls über diese Anwendung und/oder - soweit
				technisch und rechtlich möglich – durch das Versenden einer
				Mitteilung über dem Anbieter vorliegende Kontaktdaten der Nutzer
				informiert werden. Nutzern wird daher nahegelegt, diese Seite
				regelmäßig aufzurufen und insbesondere das am Seitenende
				angegebene Datum der letzten Änderung zu prüfen.
				<br /><br />Soweit Änderungen eine auf der Einwilligung des
				Nutzers basierte Datennutzung betreffen, so wird der Anbieter -
				soweit erforderlich - eine neue Einwilligung einholen.
			</p>

			<p>
				<b>Begriffsbestimmungen und rechtliche Hinweise </b><br />
				<b>Personenbezogene Daten (oder Daten) </b><br />
				Alle Informationen, durch die direkt oder in Verbindung mit
				weiteren Informationen die Identität einer natürlichen Person
				bestimmt wird oder werden kann.
			</p>

			<p>
				<b>Nutzungsdaten</b><br />
				Informationen, die diese Anwendung (oder Dienste Dritter, die
				diese Anwendung in Anspruch nimmt), automatisch erhebt, z. B.:
				die IP-Adressen oder Domain-Namen der Computer von Nutzern, die
				diese Anwendung verwenden, die URI-Adressen (Uniform Resource
				Identifier), den Zeitpunkt der Anfrage, die Methode, die für die
				Übersendung der Anfrage an den Server verwendet wurde, die Größe
				der empfangenen Antwort-Datei, der Zahlencode, der den Status
				der Server-Antwort anzeigt (erfolgreiches Ergebnis, Fehler
				etc.), das Herkunftsland, die Funktionen des vom Nutzer
				verwendeten Browsers und Betriebssystems, die diversen
				Zeitangaben pro Aufruf (z. B. wie viel Zeit auf jeder Seite der
				Anwendung verbracht wurde) und Angaben über den Pfad, dem
				innerhalb einer Anwendung gefolgt wurde, insbesondere die
				Reihenfolge der besuchten Seiten, sowie sonstige Informationen
				über das Betriebssystem des Geräts und/oder die IT-Umgebung des
				Nutzers.
			</p>

			<p>
				<b>Nutzer</b><br />
				Die diese Anwendung verwendende Person, die, soweit nicht anders
				bestimmt, mit dem Betroffenen übereinstimmt.
			</p>

			<p>
				<b>Betroffener</b><br />
				Die natürliche Person, auf die sich die personenbezogenen Daten
				beziehen.
			</p>

			<p>
				<b>Auftragsverarbeiter (oder Datenverarbeiter)</b><br />
				Natürliche oder juristische Person, Behörde, Einrichtung oder
				andere Stelle, die personenbezogene Daten im Auftrag des
				Verantwortlichen verarbeitet, wie in dieser Datenschutzerklärung
				beschrieben.
			</p>

			<p>
				<b
					>Verantwortlicher (oder Anbieter, teilweise auch Eigentümer) </b
				><br />
				Die natürliche oder juristische Person, Behörde, Einrichtung
				oder andere Stelle, die allein oder gemeinsam mit anderen über
				die Zwecke und Mittel der Verarbeitung personenbezogener Daten
				sowie die hierfür verwendeten Mittel entscheidet, einschließlich
				der Sicherheitsmaßnahmen bezüglich des sich auf diese Anwendung
				beziehenden Betriebs und der Nutzung. Soweit nichts anderes
				angegeben ist, ist der Verantwortliche die natürliche oder
				juristische Person, über welche diese Anwendung angeboten wird.
			</p>

			<p>
				<b>Diese Anwendung </b><br />
				Das Hardware- oder Software-Tool, mit dem die personenbezogenen
				Daten des Nutzers erhoben und verarbeitet werden.
			</p>

			<p>
				<b>Dienst </b><br />
				Der durch diese Anwendung angebotene Dienst, wie in den
				entsprechenden Nutzungsbedingungen (falls vorhanden) und auf
				dieser Seite/Anwendung beschrieben.
			</p>

			<p>
				<b>Europäische Union (oder EU) </b><br />
				Sofern nicht anders angegeben, beziehen sich alle Verweise in
				diesem Dokument auf die Europäische Union auf alle derzeitigen
				Mitgliedstaaten der Europäischen Union und den Europäischen
				Wirtschaftsraum (EWR).
			</p>

			<p>
				<b>Rechtlicher Hinweis</b><br />
				Diese Datenschutzerklärung wurde auf der Grundlage von
				Bestimmungen verschiedener Gesetzgebungen verfasst,
				einschließlich Art. 13/14 der Verordnung (EU) 2016/679
				(Datenschutz-Grundverordnung). Diese Datenschutzerklärung
				bezieht sich ausschließlich auf diese Anwendung, sofern in
				diesem Dokument nicht anders angegeben.
			</p>

			<p class="datenschutz-ende">
				Holla. Wenn du das jetzt tatsächlich bis hierhin gelesen hast,
				dann solltest du dich definitiv erstmal mit einer Challenge
				ablenken.
			</p>
		</div>
		<div class="actions">
			<span (click)="close()" class="close-btn">Ok, alles klar!</span>
		</div>
	</div>
</div>
