<div
	*ngIf="challenges | async as challenges; else loading"
	class="challenges-container"
>
	<div *ngIf="challenges.length; else noItems" class="challenges-box">
		<div
			*ngFor="let challenge of challenges"
			[routerLink]="['/challenge', challenge.id, 'details']"
			[queryParams]="{ actions: showActions }"
			class="challenge-element"
		>
			<div class="challenge-picture">
				<img
					src="/assets/images/categories/{{
						challenge.category.name
					}}.jpg"
				/>
			</div>
			<div class="challenge-description">
				<div class="challenge-title">{{ challenge.title }}</div>
				<div class="challenge-username">
					von {{ challenge.createdByUserName }}
				</div>
				<div class="challenge-category">
					<span
						class="category-{{
							challenge.category.name
						}}-background"
					>
						{{ challenge.category.display }}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #noItems>
	<div class="onscreen-message">
		Keine Herausforderungen vorhanden
	</div>
</ng-template>

<ng-template #loading>
	<app-spinner></app-spinner>
</ng-template>
