.option-btns {
	position: absolute;
	top: 0;
	left: 0;

	padding: 15px;

	img {
		height: 25px;
		cursor: pointer;

		&:first-child {
			margin-right: 15px;
		}
	}
}

div {
	width: 92vw;
	margin-left: auto;
	margin-right: auto;
}

.profile-picture {
	display: block;
	margin: 7.5% auto 0;
	height: 120px;
	border-radius: 100%;
}
.username-block {
	text-align: center;
	margin-top: 3%;

	.username {
		display: inline;
		font-size: 18px;
		font-weight: 500;
	}

	.edit-icon {
		width: 50px;
		height: 50px;
		border: 1px solid grey;
		display: inline;
		margin-left: 3%;
	}
}

.privacy-selector {
	text-align: center;
	margin-top: 3%;

	select {
		color: #fff;
		background: #67a682;
		padding: 5px 10px;
		border-radius: 20px;
		text-align: center;
		font-size: 14px;
	}
}

.dashboard-bar {
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	.dashboard-bar-element {
		text-align: center;
		font-size: 22px;

		.value {
			display: block;
			font-weight: 700;
		}

		.label {
			display: block;
			font-weight: 400;
			font-size: 18px;
		}
	}
}

.challenges {
	font-size: 24px;
	color: #67a682;
	margin-bottom: 3%;
	padding-left: 3%;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 100px;
	background-color: #d1e4d9;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 7px 15px;
		transition: 0.3s;
		font-size: 16px;

		&:hover {
			background-color: #67a682;
			color: #fff;
			border-radius: 20px;
		}

		&.active {
			background-color: #67a682;
			color: #fff;
		}
	}
}

.sticky-footer-navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #fff;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	.icon {
		display: inline-block;
		position: relative;
		width: 40px;
		height: 40px;
		background: red;
	}
}
