div {
	width: 92vw;
	margin-left: auto;
	margin-right: auto;
}

.profile-picture {
	margin-top: 7.5%;
	width: 120px;
	height: 120px;
	border: 1px solid grey;
	border-radius: 200px;

	p {
		text-align: center;
		padding-top: 40px;
	}
}
.username-block {
	text-align: center;
	margin-top: 3%;
}
.username {
	display: inline;
	font-size: 18px;
	font-weight: 700;
}
.edit-icon {
	width: 50px;
	height: 50px;
	border: 1px solid grey;
	display: inline;
	margin-left: 3%;
}

.privacy-selector {
	text-align: center;
	margin-top: 3%;

	select {
		color: #fff;
		background: #67a682;
		padding: 5px 10px;
		border-radius: 20px;
		text-align: center;
		font-size: 14px;
	}
}

.dashboard-bar {
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.dashboard-bar-elements {
	text-align: center;
	font-weight: 700;
}
.points,
.rank,
.friends {
	font-size: 22px;
	font-weight: 400;
}

.challenges {
	font-size: 24px;
	color: #67a682;
	margin-bottom: 3%;
	padding-left: 3%;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 100px;
	background-color: #d1e4d9;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 7px 15px;
	transition: 0.3s;
	font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #67a682;
	color: #fff;
	border-radius: 20px;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #67a682;
	color: #fff;
}

div.challenge-container {
	width: 100vw;
}
.challenges-container {
	background: #f1f1f1;
	margin-top: 2%;
	padding-bottom: 2%;
}
.challenges-box {
	padding: 10px;
}
.challenge-element {
	width: 92vw;
	height: 20vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.challenge-picture {
	width: 50%;
	height: 100%;
	border: 1px solid grey;
	background: #fff;
	margin-right: 6%;
	display: inline-block;
	position: relative;
}
//Schwierigkeiten mit der Verteilung der Elemente (50% gehen aus irgendeinem Grund nach rechts außen raus)
.challenge-description {
	display: inline-block;
	position: relative;
	max-width: 50%;
}
.challenge-title {
	font-weight: 700;
	margin-bottom: 4%;
}
.challenge-username {
	font-size: 13px;
}
.challenge-category {
	background: #67a682;
	color: #fff;
	font-size: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 20px;
	width: 50%;
	text-align: center;
	float: left;
}
.sticky-footer-navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #fff;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	.icon {
		display: inline-block;
		position: relative;
		width: 40px;
		height: 40px;
		background: red;
	}
}
