<div class="option-btns">
	<img
		(click)="toggleDataPrivacy()"
		class="dataprivacy-btn"
		src="/assets/icons/dataprivacy.svg"
	/>
	<img
		(click)="toggleRules()"
		class="rules-btn"
		src="/assets/icons/rules.svg"
	/>
	<img
		(click)="toggleImprint()"
		alt="Impressum"
		class="imprint-btn"
		src="/assets/icons/imprint.svg"
	/>
</div>

<app-data-privacy-overlay
	(closeEvent)="toggleDataPrivacy()"
	*ngIf="showDataPrivacy"
></app-data-privacy-overlay>

<app-rules-overlay
	(closeEvent)="toggleRules()"
	*ngIf="showRules"
></app-rules-overlay>

<app-imprint-overlay
	(closeEvent)="toggleImprint()"
	*ngIf="showImprint"
></app-imprint-overlay>

<!-- actual ProfilePage -->
<ng-container *ngIf="user$ | async as user">
	<div (click)="openProfilePictureEditor()" class="profile-picture-container">
		<img class="profile-picture" src="{{ getProfilePicture(user) }}" />
		editieren
	</div>

	<div class="username-block">
		<div class="username">{{ user.userName }}</div>
		<!--		<div class="edit-icon">Edit</div>-->
	</div>

	<!--<div class="privacy-selector">-->
	<!--	<select>-->
	<!--		<option value="" disabled selected>Profileinstellung</option>-->
	<!--		<option value="0">Profil öffentlich</option>-->
	<!--		<option value="1">Profil privat</option>-->
	<!--	</select>-->
	<!--</div>-->

	<div class="dashboard-bar">
		<div *ngIf="points$ | async as points" class="dashboard-bar-element">
			<span class="value">{{ points.points }}</span>
			<span class="label">Punkte</span>
		</div>
		<!--	<div class="dashboard-bar-element">-->
		<!--		<span class="value">10</span>-->
		<!--		<span class="label">Rang</span>-->
		<!--	</div>-->
		<!--	<div class="dashboard-bar-element">-->
		<!--		<span class="value">10</span>-->
		<!--		<span class="label">Freunde</span>-->
		<!--	</div>-->
	</div>

	<div class="challenges">Deine Herausforderungen</div>

	<div class="tabs">
		<span
			(click)="displayDoneChallenges()"
			[class.active]="showDoneChallenges"
			class="tab"
		>
			Absolviert
		</span>
		<span
			(click)="displayCreatedChallenges()"
			[class.active]="showCreatedChallenges"
			class="tab"
		>
			Erstellt
		</span>
	</div>

	<app-challenge-list
		[challenges]="challenges$"
		[showActions]="false"
	></app-challenge-list>
</ng-container>

<app-navbar></app-navbar>
