<div class="profile-picture">
	<p>Profil-<br />Bild</p>
</div>

<div class="username-block">
	<div class="username">Benutzername</div>
	<div class="edit-icon">Edit</div>
</div>

<div class="privacy-selector">
	<select>
		<option value="" disabled selected>Profileinstellung</option>
		<option value="0">Profil öffentlich</option>
		<option value="1">Profil privat</option>
	</select>
</div>

<div class="dashboard-bar">
	<div class="dashboard-bar-elements">
		<span class="points">10</span><br />Punkte
	</div>
	<div class="dashboard-bar-elements">
		<span class="rank">10</span><br />Rang
	</div>
	<div class="dashboard-bar-elements">
		<span class="friends">10</span><br />Freunde
	</div>
</div>

<div class="challenges">Challenges</div>
<div class="challenges-bar"></div>
<div class=""></div>

<!-- Tab links -->
<div class="tab">
	<button class="tablinks" onclick="challengeSelect(event, 'Absolviert')">
		Absolviert
	</button>
	<button class="tablinks" onclick="challengeSelect(event, 'Erstellt')">
		Erstellt
	</button>
	<button class="tablinks" onclick="challengeSelect(event, 'Markiert')">
		Markiert
	</button>
</div>

<div class="challenges-container">
	<div class="challenges-box">
		<div class="challenge-element">
			<div class="challenge-picture"></div>
			<div class="challenge-description">
				<div class="challenge-title">Challenge XY</div>
				<div class="challenge-username">von Benutzername</div>
				<div class="challenge-category">Kategorie</div>
			</div>
		</div>
	</div>
	<div class="challenges-box">
		<div class="challenge-element">
			<div class="challenge-picture"></div>
			<div class="challenge-description">
				<div class="challenge-title">Challenge XY</div>
				<div class="challenge-username">von Benutzername</div>
				<div class="challenge-category">Kategorie</div>
			</div>
		</div>
	</div>
	<div class="challenges-box">
		<div class="challenge-element">
			<div class="challenge-picture"></div>
			<div class="challenge-description">
				<div class="challenge-title">Challenge XY</div>
				<div class="challenge-username">von Benutzername</div>
				<div class="challenge-category">Kategorie</div>
			</div>
		</div>
	</div>
</div>

<!--Footer-->
<div class="sticky-footer-navigation">
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
</div>
