@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
}
