name: Validate Pull Request

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1

      - name: Node $
        uses: actions/setup-node@v1
        with:
          node-version: $

      - name: npm install and npm run build
        run: |
          npm ci
          npm run build:ci
          
      - name: unit test
        run: |
          npm run test:ci
