<div class="sticky-header">
	<div class="app-bar">
		<span class="branding">ChallengeMe</span>

		<div class="icon"></div>
	</div>

	<div class="category-bar">
		<span class="category">Alle</span>
		<span class="category" *ngFor="let category of categories">
			{{ category }}
		</span>
	</div>
</div>

<div class="challenges">
	<div class="challenge" *ngFor="let challenge of challenges$ | async">
		<h1 class="challenge-title">{{ challenge.title }}</h1>
		<p class="challenge-description">{{ challenge.description }}</p>
	</div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
</div>

<div class="sticky-footer-navigation">
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
</div>
