<div class="sticky-header">
	<div class="app-bar">
		<span class="branding">ChallengeMe</span>

		<div class="icon"></div>
	</div>

	<div class="category-bar">
		<span>Alle</span>
		<span>Sport</span>
		<span>Kreativ</span>
	</div>
</div>

<div class="challenges">
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
	<div class="challenge"></div>
</div>

<div class="sticky-footer-navigation">
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
	<div class="icon"></div>
</div>
